@model Practica4.Modelos.Especificaciones.PagesList<Practica4.Modelos.Servicio>
@using Practica4.Utilidades
@{
    ViewData["Title"] = "Inicio";
}

<style>
    .text-black {
        color: black; /* Color del texto */
    }

    .cabeza {
        font-family: 'Century725 Cn BT';
        background: linear-gradient(to bottom, #DCAA2A, #fff); /* Degradado dorado */
    }

    .frase {
        font-family: 'Century725 Cn BT';
    }

    .pie{
        font-family: 'Century725 Cn BT';
        background: linear-gradient(to top, #DCAA2A, #fff); /* Degradado dorado */
    }

    }
</style>

<section class="cabeza p-4 mb-5">
    <div class="d-flex flex-column align-items-center">
        <div class="heading-primary text-center text-black fst-italic">
            Lupita Gil<br />
            Estetica Unisex<br />
        </div>
    </div>
    <div class="mt-2">
        <div class="btn d-flex flex-row heading-primary text-black justify-content-evenly">
            <p>Inicio</p>
            <p>Servicios</p>
            <p>Sobre nosotros</p>
            <p>Comentarios</p>
        </div>
    </div>
</section>

<section class="frase p-4 mb-5 mt-3">
    <div class="d-flex flex-column align-items-center">
        <img src="~/imagenes/Logo-PNG.png" alt="Logo" class="img-fluid" style="width: 150px;">
        <div class="heading-primary text-center text-black fst-italic mt-2">
            <br />
            <br />Te damos la bienvenida a “Lupita Gil Estetica Unisex”. Es un gusto tenerte por aqui, a continuacion
            te mostraremos un poco de nuestro trabajo.<br />
            Recuerda “La belleza se trata de mejorar lo que ya tienes”.<br />
            <br />
            <br />
            PERMITETE BRILLAR
            <br />
        </div>
        <div class="text-decoration-underline"></div>
    </div>
</section>

<section>
    <div class="container my-2">
        <form asp-action="Index" method="get">
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="button-addon2"
                           name="busqueda" value="@ViewData["BusquedaActual"]" id="busqueda" />
                    <a class="btn btn-outline-danger" onclick="Limpiar()">
                        <i class="bi bi-x-octagon"></i>
                    </a>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--Cargamos la lista de servicios-->
    <div class="row">
        @foreach (var servicio in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="card w-100 my-2">
                    <img src="@DS.ImagenRuta@servicio.ImagenUrl" class="card-img-top" style="aspect-ratio:1/1" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">@servicio.Nombre</h5>
                        <p class="card-text">@servicio.Descripcion</p>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto bg-white">
                            <a href="#" class="btn btn-outline-primary">
                                <i class="bi bi-tags-fill"></i>
                                Ver más
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--Botones de navegacion-->
    <div class="d-flex flex-row">
        <a asp-action="Index" asp-route-pageNumber="@(1)" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="bi bi-skip-start-fill"></i>
        </a>
        <a asp-action="Index" asp-route-pageNumber="@((int)ViewData["PageNumber"]-1)"
           class="btn btn-outline-primary @ViewData["Previo"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Anterior
        </a>
        <span>  Pagina @ViewData["PageNumber"] de @ViewData["TotalPaginas"]</span>
        <a asp-action="Index" asp-route-pageNumber="@((int)ViewData["PageNumber"]+1)"
           class="btn btn-outline-primary @ViewData["Siguiente"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Siguiente  
        </a>
        <a asp-action="Index" asp-route-pageNumber="@ViewData["TotalPaginas"]" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="bi bi-skip-end-fill"></i>
        </a>
    </div>
    <br />
</section>

<section class="pie p-4 mb-5">
    <br />
    <div class="d-flex flex-column align-items-center">
        <img src="~/imagenes/Logo-PNG.png" alt="Logo" class="img-fluid" style="width: 150px;">
    </div>
    <br />
    <div class="mt-2">
        <div class="btn d-flex flex-row heading-primary text-black justify-content-evenly">
            <p>Inicio</p>
            <p>Servicios</p>
            <p>Sobre nosotros</p>
            <p>Comentarios</p>
        </div>
        <div class="btn d-flex flex-row heading-primary text-black justify-content-center">
            <a href="https://www.facebook.com/profile.php?id=100086557790168" class="btn">
                <i class="bi bi-facebook" style="font-size: 3rem;"></i>
            </a>
            <a href="https://www.instagram.com/lupitagil_estetica_unisex/" class="btn">
                <i class="bi bi-instagram" style="font-size: 3rem;"></i>
            </a>
        </div>
    </div>
    <br />
</section>



@section Scripts {
    <script>
        function Limpiar() {
            document.getElementById("busqueda").value = "";
        }
    </script>
}
